html , body{
    max-width: 100%;
    overflow-x: hidden;
}

        /* navbar */
.navbar{
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: viga;
    font-size: 13px;
}

.navbar img {
    width: 50px;
    height: 50px;
    text-align: center;
 }


/*jumbotron*/
.jumbotron{
    background-color: #599be2;
    background-size: cover;
    height: auto;
    text-align: center;
    position: relative;
}


.jumbotron .container{
    z-index: 1;
    position: relative;
} 

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4{
    color: white;
    text-align: center;
    margin-top: 60px;
    font-weight: 200;
    text-shadow: 2px 2px 10px grey;
    font-size: 30px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span{
    font-weight: 500;
    margin-top: -5px;
}

/*info panel*/

.info-panel{
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    margin-top: 40px;
    background-color: white;
    padding: 30px;

}

.info-panel img{
    width: 80px;
    height: 8-px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel p{
    font-size: 14px;
    color: grey;
    margin-top: 10px;
    font-weight: 200;
}

/*info profil*/
.info-profil{
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    margin-top: 20px;
    background-color: white;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;

}

.info-profil p{
    font-size: 20px;
    font-family: viga;
    margin-top: 10px;
    font-weight: 400;
    color: #599be2;
}

.info-profil ol{
    font-size: 20px;
    font-family: viga;
    margin-top: 10px;
    font-weight: 200;
    color: #599be2;
}

.info-profil h3{
    text-shadow: 1px 1px 1px blue;
    font-size: 30px;
    font-family: viga;
    margin-top: 10px;
    font-weight: 200;
    color: #599be2;
}

.info-profil iframe{
     width: 100%; 
     height: 180px;
}

/*info jurusan*/
.info-jurusan h5{
    text-shadow: 1px 1px 1px blue;
    font-size: 30px;
    font-family: viga;
    font-weight: 200;
    color: #599be2;
}

/*workingspace*/
.workingspace{
    margin-top: 40px;
    margin-bottom: 40px; 
    text-align: right;
}

.workingspace h3{
    font-size: 20px;
}

.jurusan{
    font-size: 14px; 
}





/*footer*/
footer{
    background-color: #599be2;
    background-image: linear-gradient(to top, rgba(0,0,0,0.10), rgba(255,255,255,1));
    padding: 1cm 0cm;
    margin-top: 40px;
}

.footer-about__img{
    width: 150px;
    height: auto;
}
.font{
    font-size: 12px;
}

.font img{
    width: 25px;
    height: 25px;   
}




/*desktop version*/
@media (min-width: 992px) {
    /* navbar */
.navbar{
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: viga;
    font-size: 20px;
    color: navy !important;
}

.nav-link/{
    text-transform: uppercase;
    margin-right: 30px;
    color: navy !important;
}

.nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid blue;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;  
    }


.navbar img {
    width: 50px;
    height: 50px;
}


/*jumbotron*/
.jumbotron{
    background-color: #599be2;
    background-size: cover;
    height: auto;
    text-align: center;
    position: relative;
}


.jumbotron .container{
    z-index: 1;
    position: relative;
} 

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4{
    color: white;
    text-align: center;
    font-weight: 200;
    text-shadow: 2px 2px 10px grey;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 35px !important;
}

.jumbotron .display-4 span{
    font-weight: 500;
    margin-top: -5px;
}

/*info panel*/

.info-panel{
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    margin-top: 100px;
    background-color: white;
    padding: 30px;

}

.info-panel img{
    width: 80px;
    height: 8-px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel p{
    font-size: 14px;
    color: grey;
    margin-top: 10px;
    font-weight: 200;
}


/*info profil*/
.info-profil{
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    margin-top: 20px;
    background-color: white;
    padding: 30px;

}

.info-profil p{
    font-size: 20px;
    font-family: viga;
    margin-top: 10px;
    font-weight: 200;
    color: #599be2;
}

.info-profil ol{
    font-size: 20px;
    font-family: viga;
    margin-top: 10px;
    font-weight: 200;
    color: #599be2;
}

.info-profil h3{
    text-shadow: 1px 1px 1px blue;
    font-size: 30px;
    font-family: viga;
    margin-top: 10px;
    font-weight: 200;
    color: #599be2;
}

.info-profil iframe{
    width: 100%;
    height: 300px;
}

/*info jurusan*/
.info-jurusan h5{
    text-shadow: 1px 1px 1px blue;
    font-size: 30px;
    font-family: viga;
    font-weight: 200;
    color: #599be2;
}

/*workingspace*/
.workingspace{
    margin-top: 80px;
    margin-bottom: 80px; 
    text-align: right;
}

.workingspace h3{
    font-size: 30px;
}

.jurusan{
    font-size: 20px; 
}



/*footer*/
footer{
    background-color: #599be2;
    background-image: linear-gradient(to top, rgba(0,0,0,0.10), rgba(255,255,255,1));
    padding: 2cm 0cm;
    font-size: 15px;
}

.footer-about__img{
    width: 200px;
    height: auto;
}

.font{
    margin-top: 30px;
}

.font img{
    width: 25px;
    height: 25px; 

}

.alamat {
    font-size: 18px;
}



} 